* { 
margin:0px;
padding:0px;
}
html {
background-color:#E47D7D;
}
body {
background-color:#879FA0;
width:800px;
height:800px;
margin:auto;

}
#M1 {
width:800px;
height:190px;
background-color:#B6B6E1;
text-align:center;
margin-bottom:10px;
}


#N1 {
width:800px;
height:190px;
background-color:#1F618D;
margin-top:10px;
margin-left:0px;
}

#L1 {
width:800px;
height:500px;
background-color:#922b21;
text-align:center;
margin-left:0px;
}


#W1 {
width:200px;
height:500px;
background-color:#bdc3c7;
text-align:center;
float:left;
margin-left:0px;
margin-botton:0px;

}
#I1 {
width:200px;
height:500px;
background-color:#ff5aa4;
text-align:center;
float:left;
margin-botton:0px;

}



#Y1 {
width:400px;
height:500px;
background-color:#FFFFFF;
text-align:center;
float:left;
margin-left:0px;
margin-Rigth:0px;

}

#Z1 {
width:800px;
height:100px;
background-color:#4FCECD;
text-align:center;
margin-top:0px;
}